<h4 class="pt-4 text-center pb-4">Trending links</h4>

<div class="row">
  <% @resource_links.each do |link| %>
    <div class="col-md-4">
      <div class="card resource-link-card mt-4">
        <div class="card-body">
          <p class="text-truncate" title="<%= link.given_url %>"><%= link.given_url %></p>
          <div class="row">
            <div class="col-md-9">
              <p class="card-text">
                <%= link_to link.view_mini_url, link.mini_url, target: '_blank', class: "text-small text-muted" %>
              </p>
            </div>
            <div class="col-md-3">
              <p class="text-muted form-text text-small">
                <%= link.clicks %> clicks
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>